.choice-title {
    font-weight: bold;
    font-size: 20px;
}

.choice-button {
    background-color: white;
    margin: 1em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
    outline: 0;
}

.choice-button:hover {
    background-color: grey;
}

.choice-text {
    margin: 1em;
    font-weight: bold;
}

.damage-text {
    display: inline-block;
    color: red;
    padding: 1px;
    background-color: rgb(70, 70, 70);
}

@media screen and (max-width: 420px) {
    .choice-button {
        font-size: 14px;
        margin: 0.3em;
    }

    .choice-text {
        font-size: 16px;
        margin: 0.8em;
    }
}