.game-container {
    background-color: rgb(15, 15, 46);
    min-width: 400px;
    min-height: 600px;
}

.main-top {
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    max-width: 100%;
}

.mainTopDiv {
    display: flex;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    height: 100%;
}

.mainMenuDiv {
    background-image: url("../assets/mainBottomBack.jpg");
    border-left: 1px solid rgb(0, 0, 0);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLocation {
    border: 1px solid black;
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainFloor {
    border: 1px solid black;
    background-color: white;
    margin: 0.8em;
    padding: 0.3em;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainMenuButton {
    font-size: 14px;
    color: white;
    border: 1px solid black;
    background-color: rgb(5, 3, 126);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainMenuButton:focus {
    outline: 0;
    background-color: black;
    color: white;
}

.mainImage {
    /* image will fill out div element */
    vertical-align: top;
    /* these two settings for a responsive image resizing */
    max-width: 100%;
    height: auto;
    width: 700px;
}

.main-middle {
    background-image: url("../assets/text-back.jpg");
    vertical-align: top;
    background-color: rgb(180, 180, 180);
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 1px solid black;
    padding: 0.5em;
    font-size: 20px;
}

.mainTextMiddle {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.3em;
}

#textButton {
    float: right;
    margin-right: 5em;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.main-bottom {
    background-image: url("../assets/mainBottomBack.jpg");
    background-color: rgb(146, 145, 145);
    border: 2px solid black;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 20px;
    display: inline-flex;
}

#playerImage {
    width: 200px;
    height: 200px;
}

.party {
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.137);
}

.mainParty2, .mainParty3, .mainParty4 {
    display: none;
}

.playerInfo-container {
    width: 30%;
    max-width: 95px;
}

.playerInfo {
    border: 1px solid black;
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
}


@media screen and (max-width: 4000px) {
    .main-top {
        width: 2000px;
        margin: 0 auto 0 auto;
        height: 600px;
        display: flex;
    }

    .mainTopDiv {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        height: 600px;
    }

    .mainMenuDiv {
        height: 600px;
    }

    .mainImage {
        max-width: 100%;
        height: 600px;
        width: 1100px;
    }

    .main-middle {
        width: 2000px;
        margin: 0 auto 0 auto;
        height: 300px;
    }

    .mainTextMiddle-container {
        height: 300px;
    }

    .main-bottom {
        width: 2000px;
        display: inline-block;
        height: 300px;
    }

    .party {
        margin: 0.5em;
    }

    #playerImage {
        margin: 0.1em;
        width: 250px;
        height: 250px;
    }

    .playerInfo-container {
        width: 20%;
        max-width: 90px;
    }
}


@media screen and (max-width: 2050px) {

    .main-top {
        width: 1000px;
        margin: 0 auto 0 auto;
        height: 500px;
    }

    .mainTopDiv {
        max-height: 500px;
        height: 100%;
    }

    .mainImage {
        max-width: 100%;
        height: 500px;
        width: 800px;
    }

    .mainTextMiddle-container {
        height: 180px;
    }

    .mainMenuDiv {
        height: 500px;
    }

    .main-middle {
        width: 1000px;
        margin: 0 auto 0 auto;
        height: 200px;
    }

    .playerInfo-container {
        width: 20%;
        max-width: 40px;
        padding-top: 0.3em;
        padding-left: 0.3em;
    }

    .party {
        width: 220px;
    }

    #playerImage {
        margin-top: 0.6em;
        margin-bottom: 0.4em;
        margin-left: 0.1em;
        width: 160px;
        height: 160px;
    }

    .main-bottom {
        width: 1000px;
        margin: 0 auto 0 auto;
        height: 240px;
    }

    /* .mainParty2, .mainParty3, .mainParty4 {
        display: none;
    } */
}

@media screen and (max-width: 992px) {

    .mainTopDiv {
        width: 775px;
    }

    .main-top {
        width: 775px;
    }

    .mainImage {
        height: 500px;
        width: 600px;
    }

    .main-middle, .main-bottom {
        width: 775px;
        margin: 0 auto 0 auto;
        height: auto;
    }

    .playerInfo {
        font-size: 10px;
    }

    .party {
        width: 220px;
    }

    .mainParty2, .mainParty3, .mainParty4 {
        display: none;
    }

}

@media screen and (max-width: 772px) {

    .main-top {
        width: 600px;
    }

    .mainImage {
        height: 400px;
        width: 600px;
    }

    .mainTopDiv {
        width: 100%;
        border: 0.5px solid black;
        height: auto;
        display: inline-block;
    }

    .mainMenuDiv {
        border: 0;
        max-height: 80px;
        height: 100%;
    }

    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(5, 3, 126);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 600px;
        border-left: 0.1px solid rgb(0, 0, 0);
        border-right: 0.1px solid rgb(0, 0, 0);
        border-top: 0.5px solid rgb(0, 0, 0);
        border-bottom: 0.5px solid rgb(0, 0, 0);
        height: auto;
        display: inline-block;
    }

    .mainTextMiddle {
        float: left;
        font-size: 14px;
    }

    .main-bottom {
        width: 600px;
        border-left: 0.1px solid rgb(0, 0, 0);
        border-right: 0.1px solid rgb(0, 0, 0);
        border-top: 0.5px solid rgb(0, 0, 0);
        border-bottom: 0.5px solid rgb(0, 0, 0);
        margin: 0 auto 0 auto;
        height: auto;
        display: inline-block;
        column-count: 2;
        padding: 0.3em;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0.3em;
        display: inline-flex;
        background-color: rgba(88, 88, 88, 0.534);
    }

    #playerImage {
        width: 160px;
        height: 160px;
        margin: 0.3em;
    }

    .playerInfo-container {
        width: 20%;
    }

    .playerInfo {
        margin: 0.1em;
        padding: 0.4em;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        font-size: 12px;
    }

    .mainParty2, .mainParty3, .mainParty4 {
        display: none;
    }

}

@media screen and (max-width: 600px) {
    .main-top {
        height: 340px;
    }

    .mainTopDiv {
        width: 100%;
        margin: 0 auto 0 auto;
        border: 0.5px solid black;
        height: 300px;
        display: inline-block;
    }

    .mainMenuDiv {
        border: 0;
        max-height: 40px;
        height: 100%;
    }

    .mainImage {
        height: 300px;
        width: 400px;
    }


    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(5, 3, 126);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 95%;
        margin-top: 0.1em;
        height: auto;
        display: inline-block;
    }

    .mainTextMiddle {
        float: left;
        font-size: 14px;
    }

    .main-bottom {
        width: 95%;
        margin: 0.1em;
        height: auto;
        display: inline-block;
        column-count: 2;
        padding: 0.3em;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0.3em;
        background-color: rgba(65, 65, 65, 0.548);
    }

    #playerImage {
        width: 160px;
        height: 160px;
        margin: 0.3em;
    }

    .playerInfo-container {
        width: 20%;
    }

    .playerInfo {
        margin: 0.2em;
        padding: 0.5em;
        background-color: white;
        border-radius: 5px;
        font-size: 10px;
    }


    .mainParty2, .mainParty3, .mainParty4 {
        display: none;
    }
}

@media screen and (max-width: 420px) {

    .main-top {
        height: 330px;
    }

    .mainTopDiv {
        width: 100%;
        margin: 0 auto 0 auto;
        border: 0.5px solid black;
        height: 330px;
    }

    .mainImage {
        max-width: 100%;
        height: 280px;
        width: 400px;
    }

    .mainMenuDiv {
        max-height: 40px;
        height: 100%;
    }

    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(10, 7, 161);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 90%;
        margin: 0;
        height: 160px;
        border-left: 0.1px solid rgb(0, 0, 0);
        border-right: 0.1px solid rgb(0, 0, 0);
        border-top: 0.5px solid rgb(0, 0, 0);
        border-bottom: 0.5px solid rgb(0, 0, 0);
        display: inline-block;
    }

    .mainTextMiddle-container {
        height: 160px;
    }


    .mainTextMiddle {
        float: left;
        font-weight: bold;
        font-size: 12px;
        text-align: initial;
    }

    #textButton {
        float: right;
        margin-right: 0;
        margin-bottom: 1em;
        background-color: white;
    }

    .main-bottom {
        width: 95%;
        margin: 0 auto 0 auto;
        border-left: 0.1px solid rgb(0, 0, 0);
        border-right: 0.1px solid rgb(0, 0, 0);
        border-top: 0.5px solid rgb(0, 0, 0);
        border-bottom: 0.5px solid rgb(0, 0, 0);
        height: auto;
        column-count: 2;
        padding: 0;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0;
        width: 150px;
        height: 140px;
        display: inline-flex;
        background-color: rgba(100, 100, 100, 0.534);
    }

    #playerImage {
        width: 110px;
        height: 110px;
        margin-right: 0.1em;
        margin-top: 0.7em;
        margin-left: 0.2em;
    }

    .playerInfo-container {
        width: 16%;
    }

    .playerInfo {
        padding: 0.3em;
        background-color: white;
        border-radius: 5px;
        font-size: 8px;
    }

    .mainParty2, .mainParty3, .mainParty4 {
        display: none;
    }

}