.options {
    text-align: center;
    background-image: url("../assets/mainBottomBack.jpg");
    display: inline-block;
}

.audio-options-text {
    text-align: center;
    font-size: 15px;
    padding: 1em;
    margin: 0;
}

.audio-options-container {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    padding: 2em;
    margin: 1em;
    border: 4px solid white;
}

.audioOptionsButton {
    display: inline-block;
    background-color: rgb(250, 249, 249);
    padding: 1em;
    margin: 1em;
    font-weight: bold;
    border: 1px solid black;
}

.audioOptionsButton:hover {
    background-color: rgba(136, 135, 135, 0.63);
}

.audioOptionsButton:focus {
    background-color: rgb(170, 170, 170);
    outline: none;
}

#volume-control-switch {
    text-align: center;
    max-width: 150px;
}

#volume-control-label {
    max-width: 100px;
    padding: 1em;
    margin: 0.5em;
    font-size: 16px;
}

#volume-range {
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    -webkit-appearance: none;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#volume-range:hover {
    opacity: 1;
}

#volume-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(9, 79, 158);
    cursor: pointer;
    border-radius: 25px;
}

input[type=range] {
    transform: scale(1.1);
    height: 50px;
}

input[type=range]::-webkit-slider-thumb {
    transform: scale(1.4);
}

#sound-switch {
    max-width: 150px;
}

.sound-control-label {
    min-width: 140px;
    padding: 0.3em;
    margin: 0.5em;
}

#sound-switch-input {
    padding: 0.5em;
}

input[type=checkbox] {
    transform: scale(1.5);
    padding-top: 0.2em;
}

@media screen and (max-width: 420px) {

    #volume-range {
        width: 100%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        -webkit-appearance: none;
        height: 10px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    #volume-range:hover {
        opacity: 1;
    }

    #volume-range::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        background: #4CAF50;
        cursor: pointer;
        border-radius: 25px;
    }
}