.player-skills {
    text-align: center;
    font-size: 20px;
    padding: 1em;
    margin: 1em;
}

.player-skills-container {
    display: inline-block;
    margin: 0;
    background-image: url("../assets/mainBottomBack.jpg");
}

#playerSkillsImage {
    vertical-align: top;
    width: 160px;
    height: 160px;
    margin: 1em;
    padding: 0;
}

.skills {
    text-align: center;
}

.skills-container {
    display: inline-block;
    background-color: rgb(250, 249, 249);
    padding: 4em;
}