.status {
    text-align: center;
    font-size: 20px;
    padding: 0.5em;
    margin: 0.5em;
}

.status-container {
    display: inline-block;
    margin: 0;
    background-image: url("../assets/mainBottomBack.jpg");
}

#playerStatusImage {
    vertical-align: top;
    width: 160px;
    height: 160px;
    margin: 1em;
    padding: 0;
}

.status-text-container {
    text-align: center;
}

.status-text {
    display: inline-block;
    padding: 1em;
    margin: 0.5em;
    background-color: white;
    border: 0.1px solid black;
}