.status {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    background-color: rgb(39, 39, 39);
}

.status-container {
    display: inline-block;
    margin: 0;
    background-image: url("../assets/mainBottomBack.jpg");
}

#playerStatusImage {
    vertical-align: top;
    width: 160px;
    height: 160px;
    margin: 1em;
    padding: 0;
}