body {
    background-color: blue;
}

.App {
  text-align: center;
}

.Title {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
}
