body {
    background-color: rgb(5, 112, 252);
}

.App {
  text-align: center;
}

.title {
    display: inline-block;
    margin: 1em;
    margin-top: 4em;
    padding: 1em;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.instruction-title {
    display: inline-block;
    margin: 1em;
    margin-top: 2em;
    padding: 1em;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.start-game {
    margin-top: 5em;
}

.start-button, .intro-next, #instruction-button, .titlescreen-back {
    font-size: 20px;
    padding: 1em;
    margin-top: 4em;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.start-button:focus, .intro-next:focus {
    background-color: black;
    color: white;
    outline: 0;
}

.intro-container, #instructions {
    margin-top: 3em;
    background-color: blue;
}

.intro, .instruction-text {
    background-color: lightblue;
    display: inline-block;
    margin: 0.5em;
    margin-top: 3em;
    margin-bottom: 3em;
    padding: 0.5em;
    font-size: 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}