.game-container {
    background-color: rgb(15, 15, 46);
}

.main-top {
    background-color: lightblue;
    display: inline-block;
    padding: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 20px;
}

.mainImage {
    vertical-align: top;
}

.main-middle {
    display: flex;
    background-color: rgb(236, 194, 131);
    margin-left: 4em;
    margin-right: 2em;
    padding: 0.5em;
    font-size: 20px;
}

.main-bottom {
    background-color: rgb(155, 147, 229);
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding: 0.5em;
    font-size: 20px;
}

.mainMiddleRight {
    border: 1px solid black;
    padding: 2em;
    margin: 0;

}