.game-container {
    background-color: rgb(15, 15, 46);
}

.main-top {
    background-color: lightblue;
    display: inline-block;
    padding: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 20px;
}

.mainImage {
    /* image will fill out div element */
    vertical-align: top;
    /* these two settings for a responsive image resizing */
    max-width: 100%;
    height: auto;
    /* min-width: 500px; */
}

.main-middle {
    /* display: flex; */
    background-color: rgb(170, 170, 170);
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 20px;
}

.main-bottom {
    background-color: rgb(146, 145, 145);
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 20px;
}

.mainMiddleRight {
    border: 1px solid black;
    padding: 2em;
    margin: 0;
}

.main-bottom {
    text-align: center;
    display: inline-flex;
}

.playerInfo {
    border: 1px solid black;
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    font-size: 16px;
}

@media screen and (max-width: 2000px) {
    .main-middle, .main-bottom {
        width: 1100px;
        margin: 0 auto 0 auto;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .main-middle {
        display: inline-block;
        width: 950px;
        margin: 0 auto 0 auto;
    }

    .main-bottom {
        width: 950px;
        margin: 0 auto 0 auto;
        display: inline-block;
    }
}

@media screen and (max-width: 772px) {
    .main-middle {
        display: inline-block;
        width: 600px;
        margin: 0 auto 0 auto;
    }

    .main-bottom {
        width: 600px;
        margin: 0 auto 0 auto;
        display: inline-block;
    }
}

@media screen and (max-width: 400px) {
    /* .mainImage {
        width: 100%;
         height: 50%;
         min-width: 300px;
    } */

    .main-middle {
        display: inline-block;
        width: 380px;
        margin: 0 auto 0 auto;
    }

    .main-bottom {
        width: 380px;
        margin: 0 auto 0 auto;
        display: inline-block;
    }
}