.game-container {
    background-color: rgb(15, 15, 46);
}

.main-top {
    background-color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    padding: 0;
    max-width: 100%;
}

.mainTopDiv {
    display: flex;
    border-left: 40px solid black;
    border-right: 40px solid black;
    border-top: 2px solid black;
    border-bottom: 0.5px solid black;
    max-height: 400px;
    height: 100%;
}

.mainMenuDiv {
    border-left: 1px solid rgb(0, 0, 0);
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainLocation {
    border: 1px solid black;
    background-color: white;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainFloor {
    border: 1px solid black;
    background-color: white;
    margin: 0.8em;
    padding: 0.3em;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainMenuButton {
    font-size: 14px;
    color: white;
    border: 1px solid black;
    background-color: rgb(5, 3, 126);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: rgba(0, 0, 0, 0.514) 7px 7px 7px;
}

.mainMenuButton:focus {
    outline: 0;
    background-color: black;
    color: white;
}

.mainImage {
    /* image will fill out div element */
    vertical-align: top;
    /* these two settings for a responsive image resizing */
    max-width: 100%;
    height: auto;
    width: 700px;
}

.main-middle {
    vertical-align: top;
    background-color: rgb(180, 180, 180);
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-bottom: 1px solid black;
    padding: 0.5em;
    font-size: 20px;
}

.mainTextMiddle {
    /* float: left; */
    font-weight: bold;
    font-size: 16px;
    margin-top: 0.3em;
}

#textButton {
    float: right;
    margin-right: 5em;
    font-size: 12px;
}

.main-bottom {
    background-color: rgb(146, 145, 145);
    border: 2px solid black;
    text-align: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0.5em;
    font-size: 20px;
}

.main-bottom {
    text-align: center;
    display: inline-flex;
}

#playerImage {
    width: 20vh;
    height: 20vh;
}

.party {
    display: inline-flex;
}

/* .mainParty2, .mainParty3, .mainParty4 {
    display: none;
} */

.playerInfo-container {
    width: 30%;
}

.playerInfo {
    border: 1px solid black;
    display: inline-block;
    margin: 0.2em;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    font-size: 12px;
}

@media screen and (max-width: 4000px) {
    .main-middle, .main-bottom {
        width: 900px;
        margin: 0 auto 0 auto;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .mainTopDiv {
        border: 0;
    }

    .main-middle, .main-bottom {
        width: 775px;
        margin: 0 auto 0 auto;
        height: auto;
    }

    .playerInfo {
        font-size: 10px;
    }
}

@media screen and (max-width: 772px) {
    .mainTopDiv {
        width: 100%;
        border: 0.5px solid black;
        height: auto;
        display: inline-block;
    }

    .mainMenuDiv {
        border: 0;
        max-height: 80px;
        height: 100%;
    }

    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(121, 138, 238);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 90%;
        margin-top: 1em;
        border-left: 0.1px solid rgb(54, 38, 2);
        border-right: 0.1px solid rgb(54, 38, 2);
        border-top: 0.5px solid rgb(92, 63, 0);
        border-bottom: 0.5px solid rgb(92, 63, 0);
        height: auto;
        display: inline-block;
    }

    .mainTextMiddle {
        float: left;
        font-size: 14px;
    }

    .main-bottom {
        width: 90%;
        border-left: 0.1px solid rgb(54, 38, 2);
        border-right: 0.1px solid rgb(54, 38, 2);
        border-top: 0.5px solid rgb(92, 63, 0);
        border-bottom: 0.5px solid rgb(92, 63, 0);
        margin: 0 auto 0 auto;
        height: auto;
        display: inline-block;
    }

    .main-bottom {
        column-count: 2;
        padding: 0.3em;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0.3em;
        background-color: rgb(22, 57, 90);
        display: inline-flex;
    }

    #playerImage {
        width: 15vh;
        height: 15vh;
        margin: 0.3em;
    }

    .playerInfo-container {
        width: 20%;
    }

    .playerInfo {
        margin: 0.2em;
        padding: 0.5em;
        background-color: white;
        border-radius: 10px;
        font-size: 1.2vh;
    }
}

@media screen and (max-width: 600px) {
    .mainTopDiv {
        width: 100%;
        margin: 0 auto 0 auto;
        border: 0.5px solid black;
        height: auto;
        display: inline-block;
    }

    .mainMenuDiv {
        border: 0;
        max-height: 40px;
        height: 100%;
    }

    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(121, 138, 238);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 95%;
        margin-top: 0.1em;
        border-left: 0.1px solid rgb(54, 38, 2);
        border-right: 0.1px solid rgb(54, 38, 2);
        border-top: 0.5px solid rgb(92, 63, 0);
        border-bottom: 0.5px solid rgb(92, 63, 0);
        height: auto;
        display: inline-block;
    }

    .mainTextMiddle {
        float: left;
        font-size: 14px;
    }

    .main-bottom {
        width: 95%;
        border-left: 0.1px solid rgb(54, 38, 2);
        border-right: 0.1px solid rgb(54, 38, 2);
        border-top: 0.5px solid rgb(92, 63, 0);
        border-bottom: 0.5px solid rgb(92, 63, 0);
        margin: 0.1em;
        height: auto;
        display: inline-block;
    }

    .main-bottom {
        column-count: 2;
        padding: 0.3em;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0.3em;
        background-color: rgb(22, 57, 90);
    }

    #playerImage {
        width: 17vh;
        height: 17vh;
        margin: 0.3em;
    }

    .playerInfo-container {
        width: 20%;
    }

    .playerInfo {
        margin: 0.2em;
        padding: 0.5em;
        background-color: white;
        border-radius: 10px;
        font-size: 1.2vh;
    }
}

@media screen and (max-width: 420px) {

    .mainTopDiv {
        width: 100%;
        margin: 0 auto 0 auto;
        border: 0.5px solid black;
        height: auto;
        display: inline-block;
    }

    .mainMenuDiv {
        margin: 0.2em;
        border: 0;
        max-height: 40px;
        height: 100%;
    }

    #mainMenuContainer{
        display: flex;
    }

    .mainLocation {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainFloor {
        border: 1px solid black;
        background-color: white;
        margin-top: 0.8em;
        margin-right: 1.2em;
        padding: 0.4em;
        font-size: 14px;
        max-height: 100px;
        height: 100%;
    }

    .mainMenuButton {
        font-size: 14px;
        margin-top: 0.8em;
        margin-right: 0.5em;
        border: 1px solid black;
        background-color: rgb(121, 138, 238);
        padding: 0.4em;
        max-height: 100px;
        height: 100%;
    }

    .main-middle {
        width: 90%;
        margin: 0;
        border-left: 0.1px solid rgb(0, 0, 0);
        border-right: 0.1px solid rgb(0, 0, 0);
        border-top: 0.5px solid rgb(0, 0, 0);
        border-bottom: 0.5px solid rgb(0, 0, 0);
        max-height: 160px;
        height: 100%;
        display: inline-block;
    }

    .main-bottom {
        width: 95%;
        border-left: 0.1px solid black;
        border-right: 0.1px solid black;
        border-top: 0.5px solid black;
        border-bottom: 0.5px solid black;
        margin: 0 auto 0 auto;
        height: auto;
        display: inline-block;
        column-count: 2;
    }

    .mainTextMiddle {
        float: left;
        font-weight: bold;
        font-size: 12px;
        text-align: none;
    }

    #textButton {
        float: right;
        margin-bottom: 1em;
        background-color: white;
    }

    .party {
        border: 0.5px solid black;
        margin: 0.1em;
        padding: 0.3em;
        background-color: rgb(22, 57, 90);
    }

    #playerImage {
        width: 15vh;
        height: 15vh;
        margin: 0.3em;
    }

    .playerInfo-container {
        width: 20%;
    }

    .playerInfo {
        margin: 0.2em;
        padding: 0.5em;
        background-color: white;
        border-radius: 10px;
        font-size: 1.2vh;
    }

}